.about-main-wrapper{
    display: flex;
}

.about-img-wrapper, .about-wrapper{
    width:50%;
}
.about-img-wrapper img{
    aspect-ratio: 3/4;
    object-fit: cover;
    width:100%;
    height: 50vh;
}

@media  screen and (max-width:1140px) {
    .about-main-wrapper{
        flex-direction: column;
    }
    .about-img-wrapper, .about-wrapper{
        width:100%;
    }
}