.about-main-wrapper{
    display: flex;
}

.about-img-wrapper, .about-wrapper{
    width:50%;
}
.about-img-wrapper img{
    aspect-ratio: 16/9;
    object-fit: cover;
    width:100%;
    height: clamp(50vh, 50vh + 200px,75vh);
}

@media  screen and (max-width:1140px) {
    .about-main-wrapper{
        flex-direction: column;
    }
    .about-img-wrapper, .about-wrapper{
        width:100%;
    }
    .about-img-wrapper img{
        height: clamp(50vh, 50vh + 200px,55vh);
    }
}