header{
    background: transparent;
}

.logo{
    margin-right: clamp(50px, 40vw, 150px);
}

#nav-icon3{
    display:none;
}
.close-menu{
    display:none;
}

@media  screen and (max-width:768px) {
    .nav-wrapper{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        background: transparent;
        backdrop-filter: blur(20px);
        top: -100vh;
        left: 0;
        z-index: 10;
        transition: all .5s ease-out;
    }
    .nav-wrapper.active{
        top:0;
    }

    .nav-wrapper .close-menu{
        position: absolute;
        right:10%;
        top:5%;
        display:block;
    }
    .nav-wrapper > ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: var(--fs-500);
    }
    #nav-icon3{
        display: block;
        width: 35px;
        height: 35px;
        position: relative;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    #nav-icon3 span{
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: white;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #nav-icon3 span:nth-child(1) {
    top: 0px;
    }

    #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 13px;
    }

    #nav-icon3 span:nth-child(4) {
    top: 26px;
    }

    #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
    }

    #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    }

    #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    }

    #nav-icon3.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }

    .logo{
        margin-right: clamp(5px, 40vw, 20px);
    }

    .header-left{
        flex-basis: 25%;
    }
}